@tailwind base;
@tailwind components;
@tailwind utilities;

select {
    @apply py-1;
    @apply px-4;
    @apply border;
    @apply border-gray-700;
    @apply rounded-md;
}

select:hover,
select:focus,
select:active {
    @apply bg-slate-700;
    @apply text-orange-200;
    @apply border-orange-200;
    @apply shadow-md;
}

button {
    @apply py-1;
    @apply px-4;
    @apply border;
    @apply border-gray-700;
    @apply rounded-md;
}

button:hover,
button:focus,
button:active {
    @apply bg-orange-200;
    @apply text-black;
    @apply border-slate-700;
    @apply shadow-md;
}

input:hover,
input:focus,
input:active {
    @apply bg-slate-700;
    @apply text-orange-200;
    @apply border-orange-200;
    @apply shadow-md;
}
